<?xml version="1.0"?>
<robot name="chimuelo_x500">

  <material name="blue_plastic">
    <color rgba="0.0 0.5 1.0 1"/>
  </material>
  <material name="aluminum">
    <color rgba="0.8 0.8 0.8 1"/>
  </material>
  <material name="dark_grey">
    <color rgba="0.2 0.2 0.2 1"/>
  </material>

  <link name="base_link">
    <visual>
      <origin xyz="0 0 0" rpy="1.5708 0 0"/>
      
      <geometry>
        <mesh filename="package://chimuelo_bringup/meshes/chimuelo.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      
      <material name="dark_grey"/>
    </visual>
    
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.5 0.5 0.25"/> 
      </geometry>
    </collision>
  </link>

  <link name="camera_link">
    <visual>
      <origin xyz="0 0 0" rpy="1.57 0 1.57"/>
      <geometry>
        <box size="0.025 0.09 0.025"/>
      </geometry>
      <material name="aluminum"/>
    </visual>
    <visual>
      <origin xyz="0.015 0 0" rpy="0 1.57 0"/>
      <geometry>
        <cylinder length="0.005" radius="0.01"/>
      </geometry>
      <material name="blue_plastic"/>
    </visual>
  </link>

  <joint name="drone_camera_joint" type="fixed">
    <parent link="base_link"/>
    <child link="camera_link"/>
    <origin xyz="0.15 0.0 -0.04" rpy="0 0 0"/>
  </joint>

</robot>