<?xml version="1.0"?>
<robot name="chimuelo_x500">

  <material name="carbon_fiber">
    <color rgba="0.1 0.1 0.1 1"/>
  </material>
  <material name="blue_plastic">
    <color rgba="0.0 0.5 1.0 1"/>
  </material>
  <material name="aluminum">
    <color rgba="0.8 0.8 0.8 1"/>
  </material>
  <material name="landing_gear_black">
    <color rgba="0.05 0.05 0.05 1"/>
  </material>

  <link name="base_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.14 0.14 0.05"/>
      </geometry>
      <material name="carbon_fiber"/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.5 0.5 0.2"/>
      </geometry>
    </collision>
  </link>

  <link name="arm_fr">
    <visual>
      <origin xyz="0.12 0 0" rpy="0 1.5708 0"/> <geometry>
        <cylinder length="0.25" radius="0.008"/> </geometry>
      <material name="carbon_fiber"/>
    </visual>
  </link>
  <joint name="base_to_arm_fr" type="fixed">
    <parent link="base_link"/>
    <child link="arm_fr"/>
    <origin xyz="0 0 0" rpy="0 0 -0.7854"/> </joint>

  <link name="arm_fl">
    <visual>
      <origin xyz="0.12 0 0" rpy="0 1.5708 0"/>
      <geometry>
        <cylinder length="0.25" radius="0.008"/>
      </geometry>
      <material name="carbon_fiber"/>
    </visual>
  </link>
  <joint name="base_to_arm_fl" type="fixed">
    <parent link="base_link"/>
    <child link="arm_fl"/>
    <origin xyz="0 0 0" rpy="0 0 0.7854"/> </joint>

  <link name="arm_rr">
    <visual>
      <origin xyz="0.12 0 0" rpy="0 1.5708 0"/>
      <geometry>
        <cylinder length="0.25" radius="0.008"/>
      </geometry>
      <material name="carbon_fiber"/>
    </visual>
  </link>
  <joint name="base_to_arm_rr" type="fixed">
    <parent link="base_link"/>
    <child link="arm_rr"/>
    <origin xyz="0 0 0" rpy="0 0 -2.3562"/> </joint>

  <link name="arm_rl">
    <visual>
      <origin xyz="0.12 0 0" rpy="0 1.5708 0"/>
      <geometry>
        <cylinder length="0.25" radius="0.008"/>
      </geometry>
      <material name="carbon_fiber"/>
    </visual>
  </link>
  <joint name="base_to_arm_rl" type="fixed">
    <parent link="base_link"/>
    <child link="arm_rl"/>
    <origin xyz="0 0 0" rpy="0 0 2.3562"/> </joint>

  <link name="landing_gear_left">
    <visual>
      <geometry>
        <box size="0.2 0.01 0.01"/> </geometry>
      <material name="landing_gear_black"/>
    </visual>
    <visual>
        <origin xyz="0 0 0.1" rpy="0 0 0"/>
        <geometry>
            <cylinder length="0.2" radius="0.005"/> </geometry>
    </visual>
  </link>

  <joint name="gear_left_joint" type="fixed">
    <parent link="base_link"/>
    <child link="landing_gear_left"/>
    <origin xyz="0 0.08 -0.2" rpy="0 0 0"/>
  </joint>

  <link name="landing_gear_right">
    <visual>
      <geometry>
        <box size="0.2 0.01 0.01"/>
      </geometry>
      <material name="landing_gear_black"/>
    </visual>
     <visual>
        <origin xyz="0 0 0.1" rpy="0 0 0"/>
        <geometry>
            <cylinder length="0.2" radius="0.005"/>
        </geometry>
    </visual>
  </link>

  <joint name="gear_right_joint" type="fixed">
    <parent link="base_link"/>
    <child link="landing_gear_right"/>
    <origin xyz="0 -0.08 -0.2" rpy="0 0 0"/>
  </joint>


  <link name="camera_link">
    <visual>
      <origin xyz="0 0 0" rpy="1.57 0 1.57"/>
      <geometry>
        <box size="0.025 0.09 0.025"/>
      </geometry>
      <material name="aluminum"/>
    </visual>
    <visual>
      <origin xyz="0.015 0 0" rpy="0 1.57 0"/>
      <geometry>
        <cylinder length="0.005" radius="0.01"/>
      </geometry>
      <material name="blue_plastic"/>
    </visual>
  </link>

  <joint name="drone_camera_joint" type="fixed">
    <parent link="base_link"/>   <child link="camera_link"/>  <origin xyz="0.15 0.0 -0.04" rpy="0 0 0"/>
  </joint>

</robot>
